.cards-resource > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-resource > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.section.dark .cards-resource > ul > li {
  background-color: transparent;
  border-color: rgb(255 255 255 / 20%);
}

.section.dark .cards-resource > ul > li .cards-resource-card-body {
  color: var(--text-color-inverted);
}

.cards-resource .cards-resource-card-body {
  margin: 16px;
}

.cards-resource .cards-resource-card-image {
  line-height: 0;
}

.cards-resource > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
