/* stylelint-disable max-line-length */

/* Seagate Primary Font: TT Commons Pro */
@font-face {
  font-family: tt-commons-pro-fallback;
  size-adjust: 99%;
  src: local('Arial');
}

@font-face {
  font-family: tt-commons-pro;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/tt-commons-pro-light.woff2') format('woff2');
}

@font-face {
  font-family: tt-commons-pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/tt-commons-pro-regular.woff2') format('woff2');
}

@font-face {
  font-family: tt-commons-pro;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/tt-commons-pro-medium.woff2') format('woff2');
}

@font-face {
  font-family: tt-commons-pro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/tt-commons-pro-bold.woff2') format('woff2');
}

/* Seagate Heading Font: Sohne Breit */
@font-face {
  font-family: sohne-breit-fallback;
  size-adjust: 95%;
  src: local('Arial');
}

@font-face {
  font-family: 'Sohne Breit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/sohne-breit-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne Breit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/sohne-breit-bold.woff2') format('woff2');
}
